body {
  font-family: HelveticaNeueLT Std Lt;
  font-size: 16px;
	min-width: 920px;
	min-height: 800px;
}

a img {
  border: none;
}

a {
  color: #000000;
	text-decoration:none;
}

a:hover { 
	background: #d0d0d0;
}



.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {

  min-height: 800px;
  margin: 3%; 3%;
  background-color: #ffffff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
	margin-bottom: 5px;
}

#header {
	width: 100%
}

#body{
/*
	border: solid 1px black;
*/
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	margin-top: 1%;
}

#logo {
	text-align: right;
}
#slogan {
	vertical-align:bottom;
	text-align: center;
	
}

#sitemap{
	text-align: center;
	vertical-align: ;
	font-size: 12px;
	font-family: "Times New Roman", Times, serif;
}

#user_signin_box{
	text-align: right;
}

#admin_signin_box{
	visibility:hidden;
}
#admin_login_box{
	text-align: right;
}

#food-table{
	
}
#food-table td{
	border-left:solid 1px #a0a0a0;
	border-right:solid 1px #a0a0a0;
	vertical-align: top;
	padding-left:10px;
	padding-right:10px;
	padding-top: 10px;
}

#food-table p{
	border-bottom:solid 1px black;
}

#insert-table td{
	vertical-align: top;
	padding-right:20px;
	padding-bottom:20px;
}



#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}
