

<div id="product-list">
		<% if admin_signed_in? %> 
			<%= link_to 'New food', new_food_path %>
		<% end %>
		<br><br>	
	
    <table>
        <%= render(:partial => 'food', :collection => @foods) %>
    </table>
</div>
