


<div id="product-list">
		<% if admin_signed_in? %> 
			<%= link_to 'New product', new_product_path %>
		<% end %>		
		<br><br>
		
    <table>
        <%= render(:partial => 'product', :collection => @products) %>
    </table>
</div>


